<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Art or Not?</title>
</head>

<body>
    <div class="jumbotron">
        <div class="row">
            <div class="maintext col-md-8">
                <h1>Art or Not?</h1>
                <form class="form-inline" method="POST" action="{{ url_for('result') }}">
                    <div class="input-text">
                        Image URL: <input type="text" name="image_url" class="form-control">
                    </div>
                    <button type="submit" class="btn">Go</button>
                </form>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="maintext col-md-8" id="image-render">
                {% if error %}
                    <p>Got error, please check URL and try again</p>
                {% else %}
                    {% if image_url %}
                        <img src="{{ image_url }}" width="400" height="400">
                        <br><br>
                        <p>There is a {{ pred_pct }}% chance that is by {{ pred_str }}<p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="maintext col-md-3">
                <h4>Supported artists:</h4>
                {% for artist in artists %}
                    <p>{{ artist }}<p>
                {% endfor %}
                <br><br>
                <p>Please submit a link to an image by one of the currently supported artists. Submitting
                   a link by an artist not currently supported will result in an erroneous result.
                </p>
            </div>
        </div>

        <div class="footer">
        	<p> Copyright © 2019 akshairajendran All rights reserved </p>
        </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="main.js"></script>
</body>
</html>


